# Backend API Endpoint
# Local: http://localhost:5000/api
# Production (Render / Custom Domain): https://api.fireslab.com/api
NEXT_PUBLIC_API_URL=http://localhost:5000/api
API_URL=http://localhost:5000/api
